@charset "utf-8";

.container{
    background-color: #EEE;
}
.f{
    background-color: #FFF;
    color:#6C6C6C;
}
.p-group{
    margin:0 20px;
    font-size: .8em;
}
.p-group p{
    padding:15px 0;
    border-bottom: 1px solid #EEE;
    display: -webkit-flex;
}
.p-group p:first-child{
    position: relative;
}
.forget{
    position: absolute;
    right:0;
    color:#fc324a;
    top:1rem;
    font-size:.8em;
    opacity: .7;
}
.p-group p:last-child{
    border-bottom: 0;
}
input[type=text]{
    line-height: 2;
    width:100%;
    font-size: .8em;
}
.span-label{
    width:3rem;
}
.span-result{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    margin-left: 8px;
}
.f1{
    margin-top: 20px;
    background-color: #fc324a;
    text-align: center;
    color:#FFF;
}
.save{
    padding:10px 0;
    font-weight: 100;
}