.idea/*
.ideal/*.xml
*.log
logs
*.iml
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*.ipr
*/*.iws
*.iws
*/build
.DS_Store
*/logs
target
target/*
.tomcatplugin
*/bin/
*/target/