.refound_head{
    width: 100%;
    overflow: hidden;
    background: white;
    margin-top: 10px;
}
.item-top{
    font-size:0;
    margin: 10px 0;
}
.text{
    font-size:14px;
    color: #333333;
    font-weight:bold;
    vertical-align: middle;
    margin-left: 5px;
}
.lines{
    height: 16px;
    width: 3px;
    display: inline-block;
    background: #33cafc;
    vertical-align: middle;
}
#app{
    overflow: hidden;
}
.item-down{
    width: 100%;
    overflow: hidden;
    font-size:0;
}
.item-down input{
    font-size:14px;
    text-indent: 10px;
    outline:none;
    width: 100%;
    margin-bottom: 10px;
    color: #9b9b9b;
}
.search-button{
    width: 90%;
    display: block;
    font-size:14px;
    color: white;
    border: none;
    background: #3bccfc;
    border-radius: 5px;
    padding: 10px 0;
    margin: .5rem auto;
}
.refound_head{
    background: white;
}
.erweima{
    text-align: center;
    overflow: hidden;
    margin-top: .6rem;
}
.erweima img{
    width:150px;
    height:150px;
    border: 4px solid #00bfff;
    display: block;
    margin: 0 auto;
}
.titles{
    font-size:14px;
    text-align: center;
    line-height:25px;
}
.titles_div{
    margin: .3rem 0;
}
.webViewHead{
    height: 0.85rem;
    width: 100%;
    background: #00bfff;
    text-align: center;
    font-size: .4rem;
    color: white;
    line-height:.85rem;
    position: relative;
}
.back{
    height: .35rem;
    position: absolute;
    left: .2rem;
    top: 50%;
    margin-top: -.175rem;
}
