<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.BmAbnormalWaybillDao">


    <select id="getAbnormalWaybillByWaybillIdsAndFields" resultType="java.util.HashMap">
        select <foreach collection="fields" item="field"
                        separator="," >${field}</foreach> from bm_abnormal_waybill where bm_waybill_id in
        <foreach collection="waybillIds" item="waybillId"
                 open="(" separator="," close=")">#{waybillId}</foreach>
        and valid=1 and status=10
    </select>



</mapper>