<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.dao.BmOrderDao">
    <sql id="SELECT_FIELDS">
        id,order_id,plan_charge_amount,actual_charge_amount,status,discount_type,
        discount_id,pay_type,pay_method,store_no,parent_store_no,org_id,user_id,ctime,utime
    </sql>

    <insert id="insertOrder" >
        INSERT INTO tb_order
       (order_id,plan_charge_amount,actual_charge_amount,status,discount_type,discount_id,pay_type,pay_method,store_no,parent_store_no,org_id,user_id,ctime,utime)
        VALUES (#{bean.orderId},#{bean.planChargeAmount},#{bean.actualChargeAmount},#{bean.status},#{bean.discountType},
        #{bean.discountId},#{bean.payType},#{bean.payMethod},#{bean.storeNo},#{bean.parentStoreNo},#{bean.orgId},#{bean.userId},#{bean.ctime},#{bean.utime})
    </insert>


    <update id="updateOrderByOrderId">
        UPDATE tb_order
        SET status = #{status},utime=unix_timestamp(now())
        where order_id = #{orderId}
    </update>

</mapper>