<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBAccountDao">

    <select id="countByOpenId" resultType="int">
        select IFNULL(count(id),0) from tb_account
         where openId=#{openId} and status=1 and valid = 1
    </select>

    <update id="updateOpenId">
        update tb_account
         set open_id = #{openId}
        <if test="name !=null and name != ''">
            ,name = #{name}
        </if>
        <if test="headImg !=null and headImg != ''">
            ,head_img = #{headImg}
        </if>
         where account=#{account} AND password=#{password} and status=1 and valid = 1
    </update>

    <select id="getOpenIdByAccountId" resultType="string">
        SELECT open_id
        FROM tb_account
        WHERE status=1 and valid = 1
        <choose>
            <when test="accountIdList != null and accountIdList.size() > 0">
                AND id IN
                <foreach collection="accountIdList" item="accountId"
                         open="(" separator="," close=")" >
                    #{accountId}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="getByOpenId" resultType="accountBean">
      SELECT id,account,password,open_id,name,head_img
      FROM tb_account
      WHERE status=1 and valid = 1 and open_id = #{openId}
    </select>

    <select id="getByAccount" resultType="accountBean">
        SELECT id,account,password,open_id,name,head_img
        FROM tb_account
        WHERE status=1 and valid = 1 and account = #{account}
    </select>


</mapper>