<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBCityCodeDao">

    <select id="getCityCode" resultType="cityCodeBean">
        SELECT code,name,parent_code
        FROM tb_city_code
        where parent_code=#{cityCode} order by code
    </select>

	<select id="getCityCodes" resultType="cityCodeBean">
        SELECT code,name
        FROM tb_city_code
        where 1=1
         <choose>
            <when test="cityCodes != null and cityCodes.size() > 0">
                AND code IN
                <foreach collection="cityCodes" item="cityCode"
                         open="(" separator="," close=")" >
                    #{cityCode}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>

</mapper>