<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBDiscountRuleDao">
    <sql id="TABLE">
        tb_discount_rule
    </sql>
    <sql id="SELECT_FIELD">
        id,discount_id,expend_amount,discount1,discount2
    </sql>

    <select id="getByDisId" resultType="discountRuleBean">
        SELECT <include refid="SELECT_FIELD"/>
        FROM <include refid="TABLE"/>
        WHERE discount_id=#{disId}
    </select>

    <insert id="insert">
        INSERT INTO <include refid="TABLE"/>
        (discount_id,expend_amount,discount1,discount2,ctime)
        VALUES
         <foreach collection="beans" item="bean" index="index" separator=",">
         	(#{bean.discountId},#{bean.expendAmount},#{bean.discount1},#{bean.discount2},unix_timestamp(now()))
         </foreach>
        
    </insert>

</mapper>