<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBModuleBindRoleDao">

    <select id="getModuleIdByRoleIds" resultType="java.lang.Integer">
       SELECT module_id 
       FROM tb_module_bind_role 
       WHERE valid = 1
       <choose>
            <when test="roleIds != null and roleIds.size() > 0">
                AND role_id IN
                <foreach collection="roleIds" item="roleId"
                         open="(" separator="," close=")" >
                    #{roleId}
                </foreach>
            </when>
        </choose>
    </select>
 
	<select id="getRoleIdBymoduleId" resultType="int">
		 SELECT role_id 
       FROM tb_module_bind_role 
       WHERE module_id=#{moduleId} and valid = 1
	</select>

</mapper>