<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBOrderRefundDao">
    <sql id="SELECT_FIELDS">
       id,refund_no,refund_money,submit_user_id,submit_ctime,approve_user_id,approve_ctime
       ,status,refund_des,utime,ctime
    </sql>
    
    <update id="updateStatusByNo">
    	update tb_order_refund
    	set status = #{status} 
    	where refund_no=#{reOrderNo}
    </update>

    <insert id="insert" keyProperty="id">
       insert into tb_order_refund (
          refund_no, refund_money, submit_user_id, submit_ctime, status, utime, ctime
       ) values (
          #{refundNo}, #{refundMoney}, #{submitUserId}, unix_timestamp(now()),1, unix_timestamp(now()),unix_timestamp(now())
       )
    </insert> 
    
    <select id="getByRefundNo" resultType="com.zhsj.api.bean.OrderRefundBean">
       select <include refid="SELECT_FIELDS"/>
    	from tb_order_refund
    	where refund_no = #{refundNo}
    </select>
    
     <update id="updateStatusAndOrderNo">
    	update tb_order_refund
    	set status = #{status} ,refund_no=#{reOrderNo},refund_money=#{refundMoney}
    	where refund_no=#{preOrderNo} and status=1
    </update>
    
    <select id="getPreRefund" resultType="com.zhsj.api.bean.OrderRefundBean">
       select <include refid="SELECT_FIELDS"/>
    	from tb_order_refund
    	where WHERE refund_no LIKE "pre%" AND ctime BETWEEN #{startTime} AND #{endTime}
    </select>
    
    
</mapper>