<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBPrinterSecretDao">


   <select id="getList" resultType="com.zhsj.api.bean.PrinterSecretBean">
      select 
        secret_key secretKey,
        name
      from tb_printer_secret 
      <where>
        valid = 1 
      </where>
   </select>
     
     
   <select id="getBySecretKey" resultType="com.zhsj.api.bean.PrinterSecretBean">
      select 
        name
      from tb_printer_secret
      <where>
         secret_key = #{secretKey}
      </where>  
   </select>  
   
</mapper>