<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBStoreSignDao">
    <sql id="SELECT_FIELDS">
    	id,account_id,lat,lon,status,ctime,store_no,imei
    </sql>
	
	<select id="getByStoreNo" resultType="storeAccountSignBean">
		select <include refid="SELECT_FIELDS"/>
		from tb_store_sign
		where store_no = #{id}
	</select>
	
	<insert id="insert">
		insert into tb_store_sign
		 (account_id,lat,lon,status,ctime,store_no,imei)
		values
		 (#{accountId},#{lat},#{lon},#{status},unix_timestamp(now()),#{storeNo},#{imei})
	</insert>
	    
	<select id="getLastStoreSign" resultType="storeAccountSignBean">
		SELECT <include refid="SELECT_FIELDS"/> 
		FROM tb_store_sign 
		WHERE account_id = #{accountId} AND STATUS = #{status} 
		ORDER BY id desc  LIMIT 1
	</select>
</mapper>