<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TbStoreDao">
    <sql id="SELECT_FIELDS">
        id,parent_no,store_no,name,city_code,address,phone,gitPicURL(shop_logo) as shop_logo,intro,status,
        latitude,longitude,valid,utime,ctime,org_ids,sale_id,app_id,price,province,city,county,street,
        business_type,e_mail,contacts_people
    </sql>
    <select id="getStoreByNo" resultType="storeBean" >
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store
        WHERE store_no = #{storeNo}
        and status = 1 and valid = 1
    </select>

    <insert id="insert">
        INSERT INTO tb_store
        (parent_no,store_no,org_ids,name,status,valid,utime,ctime,sale_id)
        VALUES
        (#{bean.parentNo},#{bean.storeNo},#{bean.orgIds},#{bean.name},3,1,unix_timestamp(now()),unix_timestamp(now()),#{bean.saleId})
    </insert>

    <update id="updateAddress">
        UPDATE tb_store
        SET city_code=#{cityCode} , address=#{address}
        WHERE store_no = #{storeNo}
    </update>

    <update id="updateAppId">
        UPDATE tb_store
        SET app_id=#{appId}
        WHERE store_no = #{storeNo}
    </update>

    <update id="updateStatus">
        UPDATE tb_store
        SET status=#{status}
        WHERE store_no = #{storeNo}
    </update>

    <select id="getListByParentNo" resultType="storeBean">
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store
        WHERE parent_no = #{parentNo}
        and status = 1 and valid = 1
    </select>

    <select id="getListByNos" resultType="storeBean">
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store
        WHERE
        <choose>
            <when test="nos != null and nos.size() > 0">
               store_no IN
                <foreach collection="nos" item="no"
                         open="(" separator="," close=")" >
                    #{no}
                </foreach>
            </when>
            <otherwise>
                 1 = 0
            </otherwise>
        </choose>
        and status = 1 and valid = 1
    </select>


    <select id="getPriceByStoreNo" resultType="java.lang.Double">
       select price from tb_store
       <where>
         store_no = #{storeNo}
       </where>
    </select>
    
    <update id="updatePriceByStoreNo">
       update tb_store set
       <if test="type == 1">
          price = price - #{amount}
       </if>
       <if test="type == 2">
          price = price + #{amount}
       </if>
       <where>
          store_no = #{storeNo}
          <if test="isPrice == 1">
          and price = #{price} 
          </if>
          <if test="type == 1">  
          and price > 0 and price >= #{amount}
          </if>
       </where>
    </update>
    
    <select id="getStoreByLimitId" resultType="storeBean">
    	select <include refid="SELECT_FIELDS"/>
        FROM tb_store
        WHERE id >= #{minId} and id &lt; #{maxId} and status = 1 and valid = 1 
    </select>
    
     <select id="getMaxMin" resultType="minMaxBean">
    	select min(id) min,max(id) max
        FROM tb_store
        WHERE status = 1 and valid = 1 
    </select>
    
    <select id="updatePrice">
    	update tb_store
    	set price = price + #{price}
    	where store_no = #{storeNo}
    </select>
    
    <update id="updateStore">
    	update tb_store
    	set province=#{info.province},city=#{info.city},county=#{info.county},street=#{info.street},
        business_type=#{info.businessType},e_mail=#{info.email},contacts_people=#{info.contactsPeople},
        address=#{info.address},phone=#{info.phone},intro=#{info.intro},latitude=#{info.lat},longitude=#{info.lon}
    	where store_no = #{info.storeNo}
    </update>
    
    
    <select id="getChildStoreCountByStoreNo" resultType="Integer">
      select count(1) from tb_store where parent_no = #{storeNo} and status = 1 and valid = 1
    </select> 
    
    
</mapper>