<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBStoreAccountDao">
	<sql id="SELECT_FIELDS">
		id,account,password,open_id,name,head_img,j_id
	</sql>

    <select id="getByAccount" resultType="storeAccountBean">
        SELECT id,account,password,open_id,name,head_img
        FROM tb_store_account
        WHERE status=1 and valid = 1 and account = #{account}
    </select>
    
    <select id="getOneByAccount" resultType="storeAccountBean">
        SELECT id,account,password,open_id,name,head_img
        FROM tb_store_account
        WHERE account = #{account}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="bean.id">
        INSERT INTO tb_store_account
        (name,account,password,mobile,status,valid,utime,ctime)
        VALUES
        (#{bean.name},#{bean.account},#{bean.password},#{bean.mobile},1,1,unix_timestamp(now()),unix_timestamp(now()))
    </insert>

    <select id="getByOpenId" resultType="storeAccountBean">
        SELECT id,account,password,open_id,name
        FROM tb_store_account
        WHERE status=1 and valid = 1 and open_id = #{openId}
    </select>

    <update id="updateOpenId">
        update tb_store_account
        set open_id = #{openId}
        <if test="name !=null and name != ''">
            ,name = #{name}
        </if>
        <if test="headImg !=null and headImg != ''">
            ,head_img = #{headImg}
        </if>
        where account=#{account} AND password=#{password} and status=1 and valid = 1
    </update>

    <update id="updatePassword">
        update tb_store_account
        set password = #{newPwd}
        where account=#{account} AND password=#{pwd} and status=1 and valid = 1
    </update>
    
    <update id="delById">
        update tb_store_account
        set valid = 0
        where id=#{id} 
    </update>


    <select id="getListByIds" resultType="storeAccountBean">
        SELECT id,account,password,open_id,name,head_img
        FROM tb_store_account
        WHERE status=1 and valid = 1
        <choose>
            <when test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" item="id"
                         open="(" separator="," close=")" >
                    #{id}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>
    
    <select id="getSaListByIds" resultType="storeAccountBean">
        SELECT id,account,password,open_id,name,head_img,valid
        FROM tb_store_account
        WHERE status=1
        <choose>
            <when test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" item="id"
                         open="(" separator="," close=")" >
                    #{id}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        order by valid desc,open_id desc 
    </select>
    
    <select id="getOpenIdByAccountId" resultType="string">
        SELECT open_id
        FROM tb_store_account
        WHERE status=1 and valid = 1
        <choose>
            <when test="accountIdList != null and accountIdList.size() > 0">
                AND id IN
                <foreach collection="accountIdList" item="accountId"
                         open="(" separator="," close=")" >
                    #{accountId}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>
 
 
    <select id="getById" parameterType="java.lang.Long" resultType="storeAccountBean">
       select id,account,password,open_id,name,head_img,mobile
       from tb_store_account
       <where>
          id = #{id}
       </where>
    </select>
    
    <update id="updateStoreAccount">
       update tb_store_account
       <trim prefix="set" suffixOverrides="," suffix=" where id = #{id}">
           <if test="account != null and account != ''">
               account = #{account},
           </if>
           <if test="password != null and password != ''">
               password = #{password},
           </if>
           <if test="openId != null and openId != ''">
               open_id = #{openId},
           </if>
           <if test="name != null and name != ''">
                name = #{name},
           </if>
           <if test="headImg != null and headImg != ''">
                head_img = #{headImg},
           </if>
           <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
           </if>
               utime = unix_timestamp(now()),
       </trim>
    
    </update>
    
    <update id="unbindStoreAccount" parameterType="java.lang.Integer">
         update tb_store_account
          set open_id = '',
              valid = 0
          <where>
             id = #{id}    
          </where>
    </update>
    
    <update id="updateSignStatus">
    	update tb_store_account
    		set sign_status = #{signStatus},j_id=#{regId}
    		where id=#{id}
    </update>
    
    <select id="getSignByIds" resultType="storeAccountBean">
        SELECT <include refid="SELECT_FIELDS"/>
        FROM tb_store_account
        WHERE status=1 and valid = 1 and sign_status = #{signStatus}
        <choose>
            <when test="ids != null and ids.size() > 0">
                AND id IN
                <foreach collection="ids" item="id"
                         open="(" separator="," close=")" >
                    #{id}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
    </select>
</mapper>