<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBStoreAccountBindRoleDao">

    <select id="filterAccountIdByRole" resultType="long" >
        select account_id
        from tb_store_account_bind_role
        WHERE role_id = #{roleId}
        <choose>
            <when test="accountIdList != null and accountIdList.size() > 0">
                AND account_id IN
                <foreach collection="accountIdList" item="accountId"
                         open="(" separator="," close=")" >
                    #{accountId}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        and valid = 1
    </select>

    <insert id="insert">
        INSERT INTO tb_store_account_bind_role
        (account_id,role_id,valid,utime,ctime)
        VALUES
        (#{accountId},#{role_id},1,unix_timestamp(now()),unix_timestamp(now()))
    </insert>

    <update id="updateByAccountIdAndRoleId">
        UPDATE tb_store_account_bind_role
        set valid = 0,utime=unix_timestamp(now())
        where role_id = #{roleId} and account_id=#{accountId}
    </update>


</mapper>