<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBStoreTransactionSummaryDao">

    <select id="getMoneyByTime" resultType="com.zhsj.api.bean.StoreTransactionSummary">
       select ifnull(actual_sum_amount, 0) actualSumAmount, FROM_UNIXTIME(ctime,'%Y/%m/%d') time from tb_store_transaction_summary
       where ctime between #{startTime} and #{endTime} and  store_no = #{storeNo} order by ctime 
    </select>
    
    <select id="getMoneyByListAndTime" resultType="com.zhsj.api.bean.StoreTransactionSummary">
       select ifnull(actual_sum_amount, 0) actualSumAmount, FROM_UNIXTIME(ctime,'%Y/%m/%d') time from tb_store_transaction_summary
       where ctime between #{startTime} and #{endTime} and  store_no in <foreach collection="storeNos" item="storeNo" open="(" separator="," close=")">
               #{storeNo}
       </foreach> order by ctime 
    </select>
    
    <select id="getCountByListAndTime" resultType="com.zhsj.api.bean.StoreTransactionSummary">
       select ifnull(order_count, 0) orderCount, FROM_UNIXTIME(ctime,'%Y/%m/%d') time from tb_store_transaction_summary
       where ctime between #{startTime} and #{endTime} and  store_no in <foreach collection="storeNos" item="storeNo" open="(" separator="," close=")">
               #{storeNo}
       </foreach> order by ctime 
    </select>
    
</mapper>