<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TbStoreBindOrgDao">

    <select id="getOrgIdByStoreNO" resultType="long" >
        select org_id
        FROM tb_store_bind_org
        WHERE store_no = #{storeNo}
    </select>


    <insert id="insert">
        insert INTO tb_store_bind_org
        (store_no,org_id,org_ids,valid,utime,ctime)
        VALUES
        (#{storeNo},#{orgId},#{orgIds},1,unix_timestamp(now()),unix_timestamp(now()))
    </insert>

</mapper>