<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TbStorePayInfoDao">
    <sql id="SELECT_FIELDS">
        id,store_no,pay_type,pay_method,field1,field2,field3,field4,status,utime,ctime,remark
    </sql>

    <select id="getStorePayInfoByNO" resultType="storePayInfo" >
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store_pay_info
        WHERE store_no = #{storeNo}
    </select>

    <insert id="insertPayInfo">
        INSERT INTO tb_store_pay_info
        (store_no,pay_type,pay_method,field1,field2,field3,field4,remark,status,valid,utime,ctime)
        VALUES
         <foreach collection="payMethods" item="payMethod" index="index" separator=",">
            (#{storeNo},#{payType},#{payMethod},#{field1},#{field2},#{field3},
            #{field4},#{remark},#{status},1,unix_timestamp(now()),unix_timestamp(now())
            )
        </foreach>
        
    </insert>

    <update id="updateByNo">
        UPDATE tb_store_pay_info
        SET remark = #{remark},utime=unix_timestamp(now()),
        field3 = #{rate},field4=#{settlementType}
        WHERE store_no = #{storeNo} and pay_method = #{payMethod} and pay_type = 2
    </update>




</mapper>