<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBStoreBindDiscountDao">
    <sql id="TABLE">
        tb_store_discount
    </sql>

    <insert id="insert">
        INSERT INTO <include refid="TABLE"/>
        (store_no,discount_id,start_time,end_time,valid,utime,ctime,parent_store_no,status)
        VALUES
        <foreach collection="storeNos" item="storeNo" index="index" separator=",">
            (#{storeNo},
            #{discountId},
            #{startTime},
            #{endTime},
            1,
            unix_timestamp(now()),
            unix_timestamp(now()),
            #{parentStoreNo},1
            )
        </foreach>
    </insert>

    <select id="getDiscountIdByStoreNo" resultType="java.lang.Long">
        SELECT discount_id FROM <include refid="TABLE"/>
        WHERE store_no = #{storeNo} AND valid = 1 AND status = 1
        AND start_time &lt;= unix_timestamp(now()) and end_time >= unix_timestamp(now())
    </select>

    <update id="updateByStoreNoAndDisId">
      UPDATE <include refid="TABLE"/>
      SET utime = unix_timestamp(now())
        <if test=" startTime > 0">
            ,start_time = #{startTime}
        </if>
        <if test=" endTime > 0">
            ,end_time = #{endTime}
        </if>
        <if test=" valid != -1">
            ,valid = #{valid}
        </if>
        WHERE store_no = #{storeNo} AND discount_id = #{discountId}
    </update>

    <select id="getDiscountPage" resultType="java.lang.Long">
        SELECT discount_id FROM <include refid="TABLE"/>
        WHERE valid = 1
        <if test=" storeNo!=null and storeNo!='' ">
            AND store_no = #{storeNo}
        </if>
        <if test=" parentStoreNo!=null and parentStoreNo!='' ">
            AND parent_store_no = #{parentStoreNo}
        </if>
        <if test="status == 0">
            AND end_time &lt;= unix_timestamp(now())
        </if>
        <if test="status == 1">
            AND start_time &lt;= unix_timestamp(now()) and end_time >= unix_timestamp(now())
        </if>
        <if test="status == 2">
            AND ( start_time >= unix_timestamp(now()) OR status = 2)
        </if>
        ORDER BY id DESC
        limit #{startNo},#{pageSize}

    </select>

    <select id="countDiscountPage" resultType="java.lang.Long">
        SELECT count(1) FROM <include refid="TABLE"/>
        WHERE valid = 1
        <if test=" storeNo!=null and storeNo!='' ">
            AND store_no = #{storeNo}
        </if>
        <if test=" parentStoreNo!=null and parentStoreNo!='' ">
            AND parent_store_no = #{parentStoreNo}
        </if>
        <if test="status == 0">
            AND end_time &lt;= unix_timestamp(now())
        </if>
        <if test="status == 1">
            AND start_time &lt;= unix_timestamp(now()) and end_time >= unix_timestamp(now())
        </if>
        <if test="status == 2">
            AND ( start_time >= unix_timestamp(now()) OR status = 2)
        </if>
    </select>

    <select id="getByParam" resultType="discountBean">
        select store_no,discount_id
        from <include refid="TABLE"/>
        where (#{startTime}  BETWEEN start_time AND end_time or #{endTime} BETWEEN start_time and end_time)
        <choose>
            <when test="storeNoList != null and storeNoList.size() > 0">
                AND store_no IN
                <foreach collection="storeNoList" item="storeNo"
                         open="(" separator="," close=")" >
                    #{storeNo}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        AND valid = 1 and status = 1
    </select>

</mapper>