<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TbStorePayInfoDao">
    <sql id="SELECT_FIELDS">
        id,store_no,pay_type,pay_method,field1,field2,field3,field4,field5,status,utime,ctime,remark,app_id,sub_appid,mch_id
    </sql>

    <select id="getStorePayInfoByNO" resultType="storePayInfo" >
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store_pay_info
        WHERE store_no = #{storeNo} and status = 1 and valid = 1
    </select>
    
     <select id="getByStoreNoAndType" resultType="storePayInfo" >
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store_pay_info
        WHERE store_no = #{storeNo} and pay_type = #{payType} and pay_method=#{payMethod}  and valid = 1 order by status desc
    </select>

    <insert id="insertPayInfo">
        INSERT INTO tb_store_pay_info
        (store_no,pay_type,pay_method,field1,field2,field3,field4,remark,status,valid,utime,ctime)
        VALUES
         <foreach collection="payMethods" item="payMethod" index="index" separator=",">
            (#{storeNo},#{payType},#{payMethod},#{field1},#{field2},#{field3},
            #{field4},#{remark},#{status},1,unix_timestamp(now()),unix_timestamp(now())
            )
        </foreach>
    </insert>
    
    <insert id="insertFY">
        INSERT INTO tb_store_pay_info
        (store_no,pay_type,pay_method,field3,field4,status,valid,utime,ctime,app_id,mch_id)
        VALUES
         <foreach collection="beans" item="bean" index="index" separator=",">
            (#{bean.storeNo},#{bean.payType},#{bean.payMethod},#{bean.field3},'T1',
            1,1,unix_timestamp(now()),unix_timestamp(now()),#{bean.appId},#{bean.mchId}
            )
        </foreach>
    </insert>
    
    



    <select id="getByStoreNoAndTypeAndMethod" resultType="storePayInfo" >
       select <include refid="SELECT_FIELDS"/> from tb_store_pay_info
       where store_no = #{storeNo} and pay_type = #{payType} and pay_method = #{payMethod} and status = 1 and valid = 1
    </select>

    <select id="getStoreNosByField1" resultType="String">
       select store_no storeNo from tb_store_pay_info where field1 = #{field1} and status = 1 and valid = 1
    </select>
    
    <select id="getStoreNosByMchId" resultType="String">
       select store_no storeNo from tb_store_pay_info where mch_id = #{mchId} and status = 1 and valid = 1
    </select>

</mapper>