<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TbStoreDao">
    <sql id="SELECT_FIELDS">
        id,parent_no,store_no,name,city_code,address,phone,shop_logo,intro,status,
        latitude,longitude,valid,utime,ctime,org_ids,sale_id
    </sql>

    <select id="getStoreByNo" resultType="storeBean" >
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store
        WHERE store_no = #{storeNo}
        and status = 1 and valid = 1
    </select>

    <insert id="insert">
        INSERT INTO tb_store
        (parent_no,store_no,org_ids,name,phone,status,valid,utime,ctime,sale_id)
        VALUES
        (#{bean.parentNo},#{bean.storeNo},#{bean.orgIds},#{bean.name},#{bean.phone},3,1,unix_timestamp(now()),unix_timestamp(now()),#{bean.saleId})
    </insert>

    <update id="updateAddress">
        UPDATE tb_store
        SET city_code=#{cityCode} , address=#{address}
        WHERE store_no = #{storeNo}
    </update>

    <update id="updateStatus">
        UPDATE tb_store
        SET status=#{status}
        WHERE store_no = #{storeNo}
    </update>


    <select id="getListByParentNo" resultType="storeBean">
        select <include refid="SELECT_FIELDS"/>
        FROM tb_store
        WHERE parent_no = #{parentNo}
        and status = 1 and valid = 1
    </select>
</mapper>