<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBStoreAccountBindRoleDao">

    <select id="filterAccountIdByRole" resultType="long" >
        select account_id
        from tb_store_account_bind_role
        WHERE role_id = #{roleId}
        <choose>
            <when test="accountIdList != null and accountIdList.size() > 0">
                AND account_id IN
                <foreach collection="accountIdList" item="accountId"
                         open="(" separator="," close=")" >
                    #{accountId}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 0
            </otherwise>
        </choose>
        and valid = 1
    </select>



</mapper>