<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBStoreBindDeviceDao">
    <sql id="SELECT_FIELDS">
		id,store_no,imei,online,status
    </sql>
    
    <select id="searchOnline" resultType="int">
    	select online
    	from tb_store_bind_device
    	where store_no = #{storeNo} and imei=#{imei}
    </select>

	<update id="updateOnlineByStoreNo">
		update tb_store_bind_device
		set online = #{online}
		where store_no = #{storeNo} and imei=#{imei}
	</update>

	<update id="updateOnlineByImei">
		update tb_store_bind_device
		set online = #{online}
		where imei=#{imei}
	</update>

</mapper>