<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis_mapper.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.api.dao.TBWPTSettingsDao">
    <sql id="SELECT_FIELD">
		id,prefix,platform_code,platform_password,platform_public_key,public_key,private_key,
		is_test,request_url
    </sql>
    
    <sql id="TABLE">
       tb_pwt_settings
    </sql>

    <select id="getByEn" resultType="pwtSettings">
       select <include refid="SELECT_FIELD"/>  
       from <include refid="TABLE"/>
       <where>
          is_test = #{isTest} 
       </where>
    </select>

</mapper>