<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 是否使用插入数据后自增主键的值，需要配合keyProperty使用 -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.zhsj.api.bean.UserBean" alias="userBean"/>
        <typeAlias type="com.zhsj.api.bean.StorePayInfo" alias="storePayInfo"/>
        <typeAlias type="com.zhsj.api.bean.StoreBean" alias="storeBean"/>
        <typeAlias type="com.zhsj.api.bean.UserBindStoreBean" alias="userBindStoreBean"/>
        <typeAlias type="com.zhsj.api.bean.OrderBean" alias="orderBean"/>
        <typeAlias type="com.zhsj.api.bean.AccountBean" alias="accountBean"/>
        <typeAlias type="com.zhsj.api.bean.OrgBean" alias="orgBean"/>
        <typeAlias type="com.zhsj.api.bean.StoreAccountBean" alias="storeAccountBean"/>
        <typeAlias type="com.zhsj.api.bean.CityCodeBean" alias="cityCodeBean"/>
        <typeAlias type="com.zhsj.api.bean.DiscountBean" alias="discountBean"/>
        <typeAlias type="com.zhsj.api.bean.DiscountRuleBean" alias="discountRuleBean"/>
        <typeAlias type="com.zhsj.api.bean.result.CountDiscount" alias="countDiscount"/>
        <typeAlias type="com.zhsj.api.bean.StoreBalanceDetailBean" alias="storeBalanceDetailBean"/>
        <typeAlias type="com.zhsj.api.bean.MinMaxBean" alias="minMaxBean"/>
        <typeAlias type="com.zhsj.api.bean.WeChatInfoBean" alias="weChatInfoBean"/>
        <typeAlias type="com.zhsj.api.bean.OrderRefundBean" alias="orderRefundBean"/>
        <typeAlias type="com.zhsj.api.bean.ModuleBean" alias="moduleBean"/>
        <typeAlias type="com.zhsj.api.bean.result.StoreCountResult" alias="storeCountResult"/>
    </typeAliases>
</configuration>