.mine-title{
    height: 3rem;
    text-align: center;

}
.mine-title img{
	width:62px;
	height:62px;
	border-radius: 50%;
}
.mine-title h3{
    font-size:0.3rem;
    padding:5px 0;
}
.mine-title h4{
    font-size:0.28rem;
    padding-top:0rem;
}
.mine-title p{
    padding-top:0.5rem;
}
.mine-list{

    background: #fff;

}
.mine-list li{
    padding-top:0.2rem;
    border-bottom:0.01rem solid #ccc;
    padding-bottom:0.2rem;
    padding-left:0.24rem;
    padding-right:0.24rem;
    width:100%;

}
.mine-list .mine-list-no{
    border-bottom:none;
}
.mine-list-tit{
    padding-left:0.4rem;
}
.mine-list li span{
    font-size:0.28rem;
    display: inline-block;
 	line-height:0.4rem;
}
.mine-list li strong{
	font-size: 0.28rem;
    display: inline-block;
    line-height: 0.4rem;
}
.mine-list li strong i{
    display: inline-block;
	width:6px;
	height:12px;
	background:url("../../../resource/img/merchant/right.png") no-repeat right center;
	vertical-align:middle;
}
.mine-list li strong .icon{
	height:20px;
}
.mine-list li strong img{
	vertical-align:middle;
}
.mine-list li a{
    font-size:0.28rem;
    border-bottom: 1px solid #4585e8;
    color: #666;
}
.mine-sign{
    padding-left:4.4rem;
}
.mine-bg{
    background: #eeeeee;
    height: 0.26rem;
}
.mine-manager{
    padding-left:0.4rem;
}
.mine-sign-manager{
    padding-left:3.84rem;
}
.tab-mine{
}
.mine-list li span img{
    vertical-align:middle ;
    width:20px;
    height:20px;

}
.mine-list li a img{
    width:6px;
    height:12px;
    vertical-align:middle ;
}
.mine-list-tit strong{
	line-height:0.42rem;
}
.mine-list-tit strong img{
	vertical-align:middle;
}