<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>订单列表</title>
    <!--初始化样式表重置默认样式-->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/order.css">
    <!--处理es6兼容问题 polyfill.js-->
    <script src="../script/polyfill.min.js"></script>
</head>
<style>
    .centers img{
        width: 60px;
        height: 60px;
    }
    .centers p{
        font-size:16px;
    }
</style>
<body style="background:#f7f7f7;">
<div id="app" >
    <!--<div class="webViewHead" v-if="isWebView">-->
        <!--<img src="../image/fanhb.png" class="back">-->
        <!--<span class="center-size">温馨提示</span>-->
    <!--</div>-->
    <div class="centers">
        <img src="../image/jind.png">
        <p>您的订单查询中,页面<span id="time">5</span>秒后关闭</p>
        <p>自动关闭</p>
    </div>
</div>
<!--主体框架 vue.js 完整项目搭配 -->
<!--处理移动端点击事件等延迟行为 fastclick.js-->
<script src="../script/fastclick.js"></script>
<!--方法 rem布局 与 判断当前运行环境等-->
<script src="../script/webUi.Tool.js"></script>
<!--请求库-->
<script src="../script/axios.min.js"></script>
<script>
    var  ua = window.navigator && window.navigator.userAgent || '';
    window.onload = function () {
        var times = document.querySelector('#time');
        var time = setInterval(function () {
        var nums = 5;
            if ( times.innerHTML > 0) {
                times.innerHTML = times.innerHTML - 1;
                nums--;
            }
            if( times.innerHTML<=0){
//                window.close();
                if(ua.indexOf('AliApp')>-1){
                    AlipayJSBridge.call('closeWebview');
                }

                if (NewTool.device().device.isWeixin) {
                    WeixinJSBridge.call('closeWindow');
                }



                clearInterval(time)
            }
        }, 1000)
    }


</script>
</body>
</html>