<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>退款成功</title>
    <!--初始化样式表重置默认样式-->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/order-pos.css">

</head>
<body style="background:#f7f7f7;">
<div id="app" >

    <div class="areasId">
        <img src="../image/weix.png">
        <p class="nameBold">
            退款成功
        </p>
        <p class="nameCon">温馨提示:退款后会在1-5个工作日内到达支付账户,如超过5个工作日未到账请联系官方客服</p>
    </div>

</div>




</body>
</html>