@charset "utf-8";

img{
    width:60px;
}
.f1{
    background-color: #fc324a;
    font-size:.7em;
    color:#FFF
}
.common-mg{
    margin:0 20px;
}
.common-pd{
    padding: 20px 0;
}
ul{
    list-style: none;
}
ul li{
    float: left;
    text-align: center;
}
ul li p{
    padding-bottom:10px;
}
ul li:first-child{
    width:21%;
}
ul li:not(:first-child){
    background: url(../../../img/zhihujiantou.png)  left top/50% no-repeat ;
    width:26%;
    text-align:right;
}
ul li:not(:first-child) p:last-child{
	opacity:.5;
}
.f2{
    background-color: #FFF;
    color:#6C6C6C;
}
.p-group{
    margin:0 20px;
}
.p-group p{
    padding:15px 0;
    border-bottom: 1px solid #EEE;
    display: -webkit-flex;
}
.p-group p:last-child{
    border-bottom: 0;
}
input[type=text]{
    width:100%;
    font-size:.8em;
    color:#333;
    position:absolute;
    top:0;
    left:0;
}
.span-label{
    width:4.5em;
    font-size:.8em;
}
.span-result{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    margin-left: 10px;
    position:relative;
}
.f3{
    margin-top: 20px;
    background-color: #fc324a;
    text-align: center;
    color:#FFF;
}
.next{
    padding:.5em 0;
}


input::-webkit-input-placeholder{
    color: #000;opacity:.2;
}
