@charset "utf-8";

img{
    width:60px;
}
.f1{
    background-color: #fc324a;
    font-size:.7em;
    color:#FFF
}
.common-mg{
    margin:0 20px;
}
.common-pd{
    padding: 20px 0;
}
ul{
    list-style: none;
}
ul li{
    float: left;
    text-align: center;
}
ul li p{
    padding-bottom:10px;
}
ul li:first-child{
    width:21%;
}
ul li:not(:first-child){
    width:26%;
    text-align:right;
}
ul li:nth-child(2){
    background: url(../../../img/changjiantou.png)  left top/50% no-repeat ;
}
ul li:nth-child(3),
ul li:last-child{
    background: url(../../../img/zhihujiantou.png)  left top/50% no-repeat ;
}
ul li:nth-child(3) p:last-child,
ul li:last-child p:last-child{
	opacity:.5;
}
.f2,.f3{
    background-color: #FFF;
}
.f3{
    color:#6C6C6C;
}
.common-br{
    border-bottom:1px solid #CCC;
}
.info{
    position: relative;
    display: -webkit-box;
    padding: 10px 0;
    margin:0 20px;
    color: #fc324a;
    -webkit-box-pack: center;
    font-size: .9em;
}
.name{
    padding: 0 10px;
    background-color: #FFF;
    position: relative;
    display: block;
    color:#fc324a;
    z-index:1;
}
.info:after{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #fc324a;
    -webkit-transform: scaleY(0.5);
}
.f2{
    color:#6C6C6C;
    margin-bottom:10px;
}
.row-label{
    padding:15px 0;
    font-size: .8em;
}
.row-label label,
.row-label-address label,
.row-label-store-address label{
    margin-left:20px;

}
.row-label-store-address,
.row-label-address {
	display:-webkit-flex;
	padding: 15px 0;
    font-size: .8em;
}
.row-label-address{
	padding:0 0 15px !important;
}
.row-label-hytype,
.row-label-hytype-select {
	padding: 15px 0;
    font-size: .8em;
    margin:0 20px;
}
.row-label-hytype-select {
	padding: 0 0 15px !important;
}
.row-label-hytype-select ul{
	list-style:none;
}
.row-label-hytype-select ul li{
    float:left;
    width:33.3%;
    text-align:left;	
}
.row-label-hytype-select ul li:not(:last-child){
	width:30%;
}
.row-label-hytype-select ul li:last-child{
	width:40%;
}
.select-pro-city,
.row-label-address span{
	-webkit-box-flex:1;
	-webkit-flex:1;
	margin-right:20px;
	margin-left:10px;
}
.select-pro-city ul{
	list-style:none;
}
.select-pro-city ul li{
	float:left;
	width:50%;
	text-align:center;
}
.row-label-address input[type=text]{
	 width:100%;
     font-size:.8em;
     color:#333;
     border:1px solid #EEE;
     line-height: 1.6;
     padding-left: 5px;
}
.row-label .sh-right{
    float:right;
    margin-right:20px;
    color:#fc324a;
}
.row-label select{
    font-size: .9em;
}
.p-group{
    margin:0 20px;
    background-color: #FFF;
}
.p-group p{
    padding:15px 0;
    border-bottom: 1px solid #CCC;
    display: -webkit-flex;
}
.p-group p:last-child{
    border-bottom: 0;
}

.span-label{
    width:4.5em;
    font-size:.8em;
}
.span-result{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    margin-left: 10px;
    position: relative;
}
.span-result input[type=text]{
	width:100%;
    font-size:.7em;
    line-height:1.5;
    color:#333;
    position:absolute;
    padding-left:5px;
    top:0;
    left:0;
}
.f4{
    margin-top: 30px;
    background-color: #fc324a;
    text-align: center;
    color:#FFF;
}
.next{
    padding:.5em 0;
}

select{
    color:#999;
    border:1px solid #EEE;
    height: 1.5em;
}
input::-webkit-input-placeholder{
    color: #000;opacity:.2;
}
