@charset "utf-8";
img{
    width:60px;
}
.f1{
    background-color: #fc324a;
    font-size:.7em;
    color:#FFF
}
.common-mg{
    margin:0 20px;
}
.common-pd{
    padding: 20px 0;
}
.f1 ul{
    list-style: none;
}
.f1 ul li{
    float: left;
    text-align: center;
}
.f1 ul li p{
    padding-bottom:10px;
}
.f1 ul li:first-child{
    width:21%;
}
.f1 ul li:not(:first-child){
    width:26%;
    text-align:right;
}
.f1 ul li:nth-child(2),
.f1 ul li:nth-child(3){
    background: url(../../../img/changjiantou.png)  left top/50% no-repeat ;
}

.f1 ul li:last-child{
    background: url(../../../img/zhihujiantou.png)  left top/50% no-repeat ;
}
.f1 ul li:last-child p:last-child{
	opacity: .5;
}
.f2{
    background-color: #FFF;
}
.common-br{
    border-bottom:1px solid #EEE;
}
.info{
    position: relative;
    display: -webkit-box;
    padding: 10px 0;
    margin:0 20px;
    color: #fc324a;
    -webkit-box-pack: center;
    font-size: .9em;
}
.name{
    padding: 0 10px;
    background-color: #FFF;
    position: relative;
    display: block;
    color:#fc324a;
    z-index:1;
}
.info:after{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #fc324a;
    opacity: .3;
    -webkit-transform: scaleY(0.5);
}
.f2{
    color:#6C6C6C;
    margin-bottom:10px;
}


.p-group{
    margin:0 20px;
    background-color: #FFF;
    font-size:.8em;
}
.p-group p{
    padding:15px 0;
    border-bottom: 1px solid #EEE;
    display: -webkit-flex;
}
.p-group p:last-child{
    border-bottom: 0;
}
input[type=text]{
   -webkit-appearance: none;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size:100%;

}
.span-label{
    width:4.5em;
    font-size:1em;
}
.span-result{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    margin-left: 10px;
}
.f3{
    margin-top: 30px;
    background-color: #fc324a;
    text-align: center;
    color:#FFF;
}
.next{
    padding:.5em 0;
}
select{
    color:#999;
    font-size: .8em;
}
input::-webkit-input-placeholder{
    color: #000;opacity:.2;
}


.row-label{
    padding:15px 0;
    font-size: .8em;
}

.row-label .sh-right{
    float:right;
    margin-right:20px;
    color:#fc324a;
}