@charset "utf-8";
img{
    width:60px;
}
.f1{
    background-color: #fc324a;
    font-size:.7em;
    color:#FFF
}
.common-mg{
    margin:0 20px;
}
.common-pd{
    padding: 20px 0;
}
ul{
    list-style: none;
}
ul li{
    float: left;
    text-align: center;
}
ul li p{
    padding-bottom:10px;
}
ul li:first-child{
    width:19%;
}
ul li:not(:first-child){
    width:27%;
    text-align:right;
}
ul li:nth-child(2),
ul li:nth-child(3){
    background: url(../../../img/changjiantou.png)  left top/50% no-repeat ;
}

ul li:last-child{
    background: url(../../../img/zhihujiantou.png)  left top/50% no-repeat ;
    opacity: .5;
}
.f2{
    background-color: #FFF;
}
.common-br{
    border-bottom:1px solid #CCC;
}
.info{
    position: relative;
    display: -webkit-box;
    padding: 10px 0;
    margin:0 20px;
    color: #fc324a;
    -webkit-box-pack: center;
    font-size: .9em;
}
.name{
    padding: 0 10px;
    background-color: #FFF;
    position: relative;
    display: block;
    color:#fc324a;
    z-index:1;
}
.info:after{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #fc324a;
    -webkit-transform: scaleY(0.5);
}
.f2{
    color:#6C6C6C;
    margin-bottom:10px;
}


.p-group{
    margin:0 20px;
    font-size: .8em;
    background-color: #FFF;
}
.p-group p{
    padding:15px 0;
    border-bottom: 1px solid #CCC;
    display: -webkit-flex;
}
.p-group p:last-child{
    border-bottom: 0;
}
input[type=text]{
    line-height: 2;
    width:100%;

}
.span-label{
    width:4rem;
}
.span-result{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    margin-left: 8px;
}
.f3{
    margin-top: 30px;
    background-color: #fc324a;
    text-align: center;
    color:#FFF;
}
.next{
    padding:10px 0;
}
select{
    color:#999;
    font-size: .8em;
}
input::-webkit-input-placeholder { /* WebKit browsers*/
    　　color:#BBB;font-size:14px;
}
input:-moz-placeholder {  /* Mozilla Firefox 4 to 18*/
    　　color:#BBB;font-size:14px;
}
input::-moz-placeholder {  /* Mozilla Firefox 19+*/
    　　color:#999;font-size:14px;
}