@charset "utf-8";
       .pay{
          background:#fff;
       }
       .pay-flag{
          padding-top:10px;
          padding-bottom:10px;
          margin:0 auto;
          text-align:center;
          font-size: .95em;
       }
       del{
           margin-left:5px;
           font-size:.8em;
       }
       .pay-detail{
          margin-top:10px;
          padding:0 20px;
          font-size:.75em;
       }
       .pay-detail p{
          border-bottom:1px solid #EEE;
          padding-top:12px;
          padding-bottom:12px;
       }
       .pay-detail p:last-child{
          border-bottom:0;
       }
       .pay-detail p span{
         display:block
       }
       .span-label{
         color:#666;
         float:left
       }
       .span-result{
          float:right
       }