@charset "utf-8";

@media only screen and (max-width: 320px){html{font-size: 9px;} }
@media only screen and (min-width: 320px) and (max-width: 352px){html{font-size: 10px;} }
@media only screen and (min-width: 352px) and (max-width: 384px){html{font-size: 11px;} }
@media only screen and (min-width: 384px) and (max-width: 416px){html{font-size: 12px;} }
@media only screen and (min-width: 416px) and (max-width: 448px){html{font-size: 13px;} }
@media only screen and (min-width: 448px) and (max-width: 480px){html{font-size: 14px;} }
@media only screen and (min-width: 480px) and (max-width: 512px){html{font-size: 15px;} }
@media only screen and (min-width: 512px) and (max-width: 544px){html{font-size: 16px;} }
@media only screen and (min-width: 544px) and (max-width: 576px){html{font-size: 17px;} }
@media only screen and (min-width: 576px) and (max-width: 608px){html{font-size: 18px;} }
@media only screen and (min-width: 608px) and (max-width: 640px){html{font-size: 19px;} }
@media only screen and (min-width: 640px){html{font-size: 20px;} }


body{
  background:#EEE;
  margin:0px;
  padding:0px;
}

*,tr,td,p{
	margin:0px;
	padding:0px;
	border:none;
	font-family:microsoft yahei;
	box-sizing:border-box;
}

html{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	-moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
	height:3.2rem;
	background:#b3b2b2;
}
.container{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	margin:0 auto;
	max-width:768px;
}
.clearfix:after {
	content: " ";
	clear:both;
	display: block;
    visibility: hidden;
	height:0;
	line-height: 0px;
} 
.store{
	background:#fff;
}
.wechat-header{
	padding:10px 20px;
}
.ali-header{
	padding:10px 3.5rem;
}
.logo img{
	width:3rem;
	height:3rem;
	border-radius:50%;
	border:1px solid green;
	float:left;
}
.store .name{
    font-size:.9rem;
    float:left;
    line-height:3rem;
    padding-left:.5rem;
    font-weight:100;
}
.ali-input{
	background:#3289ce;
}
.wechat-input{
	background:#14d212;
}
.ali-input .inputn,.wechat-input .inputn{
	padding:10px 20px;
}
.inputn .money-name,.inputn .money{
	float:left;
}
.inputn .money-fh{
	float:right;
}
.money input{
	height:2rem;
	font-size:.8rem;
	padding-left:5px;
}
.money{
	margin-left:5px;
	width:70%;
}
.money-name,.money-fh{
	color:#fff;
	line-height:2;
}
.pay-keyboard{
	width:100%;
	text-align:center;
	background-color:#fff;
	max-height:260px;
  }
  table{
    width:100%;
    border-top: 1px solid #dfdee4;
  }
  td{
     width: 25%;
	 border: 1px solid #dfdee4;
	 font-size: 1.1rem;
	 border-right: 0;
	 border-top: 0;
	 color: #000;
	 line-height:2.5rem;
	 -webkit-user-select:none;
	  text-align:center;
  }
  td span{
    display:block;
  }
  td span:last-child{
   font-size:.9rem;
  }
  td:nth-child(4n+1){
    border-left:0;
  }
  .last > td{
    border-bottom:0;
  }

  .wechat-pay{
    background:#14d212;
    color:#fff;
  }
  .ali-pay{
    background:#3289ce;
    color:#fff;
  }

