@charset "utf-8";
       .pay{
          background:#fff;
       }
       .pay-flag{
          padding-top:10px;
          padding-bottom:10px;
          width:200px;
          margin:0 auto;
          text-align:center;
       }
       .pay-flag p:nth-child(2){
          color:#14d212;
          font-weight:300;
       }
       del{
           margin-left:5px;
           font-size:.8em;
       }
       .pay-detail{
          margin-top:10px;
          padding:10px 20px;
          font-size:.8rem;
       }
       .pay-detail p{
          border-bottom:1px solid #ccc;
          padding-top:10px;
          padding-bottom:5px;
       }
       .pay-detail p:last-child{
          border-bottom:0;
          padding-bottom:0;
       }
       .pay-detail p span{
         display:block
       }
       .span-label{
         color:#ccc;
         float:left
       }
       .span-result{
          float:right
       }